@model OnlineShoppingProject.ViewModels.ProductModels.AddProductCartVM
@{
    int i = 0;
    decimal totalAmount = 0;
}
<div class="col-12" style="  margin-bottom: 15%;">
    <div class="card">
        <div class="card-body p-0">
            <div class="col-lg-8">

                <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                </div>
                <hr class="my-4">

                @if (Model.TblCarts != null)
                {


                    @foreach (var product in Model.TblCarts)
                    {
                        ++i;
                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                <img src="~/Img/@product.Product.Image" class="img-fluid rounded-3" width="112" height="112" alt="Cotton T-shirt">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                @*<h6 class="text-muted">shirt</h6>*@
                                <h4 class="text-black mb-0">@product.Description</h4>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                <button class="btn btn-link px-2 btn-lg"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <input id="form1" min="0" name="quantity" value="@product.Quantity" type="number"
                                       class="form-control form-control-lg" />

                                <button class="btn btn-link px-2 btn-lg"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>


                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h4 class="mb-0">₹ @product.Rate </h4>
                            </div>
                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                        totalAmount += @product.Rate;
                    }

                }



                <hr class="my-4">



                <div class="pt-5">
                    <h6 class="mb-0">
                        <a href="#!" class="text-body">
                            <i class="fas fa-long-arrow-alt-left me-2"></i>Back to shop
                        </a>
                    </h6>
                </div>
            </div>


            <div class="col-lg-4 bg-grey">
                <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">

                    <div class="d-flex justify-content-between mb-4">
                        <h5 class="text-uppercase">Price (@i items)</h5>
                        <h5>₹ @totalAmount</h5>
                    </div>
                    <div class="d-flex justify-content-between mb-4">
                        <h5 class="text-uppercase">Delivery Charges</h5>
                        <h5>Free</h5>
                    </div>
                </div>
           

                <hr class="my-4">

                <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>₹ @totalAmount</h5>
                </div>

                <button type="button" class="btn btn-dark btn-block btn-lg"
                        data-mdb-ripple-color="dark">
                    Proceed To Buy
                </button>

            </div>

        </div>
    </div>
</div>


