@model OnlineShoppingProject.ViewModels.ProductVM
<head>
    <!--META TAGS-->
    <meta name="viewport" content="width=device-width, initial-scal=1, user-scalable=no">
    <meta name="author" content="Mahesh">

    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">

</head>

<body>

    <div>
        <div class="section4-header">
            <span class="title">PURCHASE CORNER</span>
            <button class="next" onclick='scrollright4()'><i class="fa fa-angle-right"></i></button>
            <button class="previous" onclick='scrollleft4()'><i class="fa fa-angle-left"></i></button>
        </div>
        <hr />

        <section class="section4" id="section4">
            @foreach (var product in Model.TblProducts)
            {
                <div class="product-item">
                    <div class="slider">
                        <a href="#" class="like-button" id="heart" onclick="mainMenuNav('@Url.Action("AddWishList", "WishList",new {ProductId=product.ProductId})')"><i class="far fa-heart"></i></a>
                        <img src="~/Img/@product.Image" width="200" height="150" />
                        <span>@product.ProductName</span>
                        <span>@product.Rate</span>
                        <div class="quantity-container">
                            <button class="quantity-button minus" onclick="decrementQuantity(this)">-</button>
                            <input type="number" class="quantity-input" name="quantity" value="1" min="1" max="100">
                            <button class="quantity-button plus" onclick="incrementQuantity(this)">+</button>
                        </div>
                        <div class="button-container">
                            @* <button type="button" class="btn btn-info" onclick="('@Url.Action("GetAddressId", "Address",new {CreatedBy=product.CreatedBy,ProductId=product.ProductId})')">Buy</button>*@
                            <button type="button" class="btn btn-info" onclick="redirectToAddress(@product.CreatedBy,@product.ProductId)">Buy</button>
                            <button type="button" class="btn btn-dark" onclick="addToCart('@Url.Action("InsertToCart", "Product",new {Id=product.ProductId,quantity = "TO_Num"})',this)">Add to Cart</button>
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>

        <div>
        <div class="section4-header">
            <span class="title">OFFER ZONE</span>
            <button class="next" onclick='scrollright5()'><i class="fa fa-angle-right"></i></button>
            <button class="previous" onclick='scrollleft5()'><i class="fa fa-angle-left"></i></button>
        </div>
        <hr />

        <section class="section4" id="section5">
            @foreach (var product in Model.TblProducts)
            {
                <div class="product-item">
                    <div class="slider">
                        <a href="#" class="like-button" id="heart" onclick="mainMenuNav('@Url.Action("AddWishList", "WishList",new {ProductId=product.ProductId})')"><i class="far fa-heart"></i></a>
                        <img src="~/Img/@product.Image" width="200" height="150" />
                        <span>@product.ProductName</span>
                        <span>@product.Rate</span>
                        <div class="quantity-container">
                            <button class="quantity-button minus" onclick="decrementQuantity(this)">-</button>
                            <input type="number" class="quantity-input" name="quantity" value="1" min="1" max="100">
                            <button class="quantity-button plus" onclick="incrementQuantity(this)">+</button>
                        </div>
                        <div class="button-container">
                            <button type="button" class="btn btn-info" onclick="BuyNow('@Url.Action("GetAddressId", "Address",new {userId=product.CreatedBy,Id=product.ProductId})')">Buy</button>
                            <button type="button" class="btn btn-dark" onclick="addToCart('@Url.Action("InsertToCart", "Product",new {Id=product.ProductId,quantity = "TO_Num"})',this)">Add to Cart</button>
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>

    <div>
        <div class="section4-header">
            <span class="title">NEW COMES</span>
            <button class="next" onclick='scrollright6()'><i class="fa fa-angle-right"></i></button>
            <button class="previous" onclick='scrollleft6()'><i class="fa fa-angle-left"></i></button>
        </div>
        <hr />

        <section class="section4" id="section6">
            @foreach (var product in Model.TblProducts)
            {
                <div class="product-item">
                    <div class="slider">
                        <a href="#" class="like-button" id="heart" onclick="mainMenuNav('@Url.Action("AddWishList", "WishList",new {ProductId=product.ProductId})')"><i class="far fa-heart"></i></a>
                        <img src="~/Img/@product.Image" width="200" height="150" />
                        <span>@product.ProductName</span>
                        <span>@product.Rate</span>
                        <div class="quantity-container">
                            <button class="quantity-button minus" onclick="decrementQuantity(this)">-</button>
                            <input type="number" class="quantity-input" name="quantity" value="1" min="1" max="100">
                            <button class="quantity-button plus" onclick="incrementQuantity(this)">+</button>
                        </div>
                        <div class="button-container">
                            <button type="button" class="btn btn-info" onclick="BuyNow('@Url.Action("GetAddressId", "Address",new {userId=product.CreatedBy,Id=product.ProductId})')">Buy</button>
                            <button type="button" class="btn btn-dark" onclick="addToCart('@Url.Action("InsertToCart", "Product",new {Id=product.ProductId,quantity = "TO_Num"})',this)">Add to Cart</button>
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


<script>

    function redirectToAddress() {
        window.location.href = '@Url.Action("GetAddressId", "Address")';
    }
    $(document).ready(function () {
        $('.section4').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 100 // Adjust the speed as needed
        });
    });

        $(document).ready(function () {
        $('.section5').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 100 // Adjust the speed as needed
        });
    });

    $(document).ready(function () {
        $('.section6').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 100 // Adjust the speed as needed
        });
    });

    $(document).ready(function () {
        $("#heart").click(function () {
            if ($("#heart").hasClass("liked")) {
                $("#heart").html('<i class="fa fa-heart-o" aria-hidden="true"></i>');
                $("#heart").removeClass("liked");
            } else {
                $("#heart").html('<i class="fa fa-heart" aria-hidden="true"></i>');
                $("#heart").addClass("liked");
            }
        });
    });

    function toggleHeartColor(button) {
        $(button).find('i').toggleClass('red-heart');
    }

    mainMenuNav = (url) => {
        $.ajax({
            type: 'Post',
            url: url,
            contentType: false,
            processData: false,
            success: function (res) {
                $('#main').html(res);
            },
            error: function (msg) {

                $('#main').html(msg);

            }
        })
    }


    function addToCart(url, button) {
        var quantity = $(button).closest('.slider').find('.quantity-input').val();
        var url1 = url.replace("TO_Num", quantity);
        mainMenuNav(url1);
    }

    function incrementQuantity(button) {
        var input = $(button).siblings(".quantity-input");
        var value = parseInt(input.val());
        if (value < 10) {
            input.val(value + 1);
        }
    }

    function decrementQuantity(button) {
        var input = $(button).siblings(".quantity-input");
        var value = parseInt(input.val());
        if (value > 1) {
            input.val(value - 1);
        }
    }

    //Buy Script

    BuyNow = (url) => {
        $.ajax({
            type: 'Post',
            url: url,
            contentType: false,
            processData: false,
            success: function (res) {
                $('#main').html(res);
            },
            error: function (msg) {

                $('#main').html(msg);

            }
        })
    }


  
        BuyNow = (url) => {
            $.ajax({
                type: 'Post',
                url: url,
                contentType: false,
                processData: false,
                success: function (res) {
                    $('#main').html(res);
                },
                error: function (msg) {

                    $('#main').html(msg);

                }
            })
        }



</script>
